body{
    margin: 0%;
}
a{
    margin: 0;
    padding: 0;
    text-decoration: none!important;
}
ul{
    list-style: none;
   
}
header{
    height: 100px;
    background: #F2E1D9;;
}
.header-right{
    display: flex;
    justify-content: flex-end;
    width: 44%;
    float: right;
    height: 100px;
   
}
.header-box{
    align-items: center;
    display: flex!important;
    justify-content: flex-end;
    
}
.header-left{
    width: 50%;
    padding-left: 42px;
}
.super-head1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 100%;
}
.super-head2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 81%;
    float: right;
}
.text{
    color: black;
    font-family: inherit;
    font-weight: 600;
}
.text:hover{
    color:rgb(238, 140, 59)
}
#input{
    border: none;
    background-color: #f2e1d9;
    border-bottom: 1px solid #a09e9e;
    width: 260px;
}
.fas{
    color: #605d5d;
    font-size: medium;
}
.cir{
    width: 21px;
    height: 21px;
    background: #f2872b;
     display: flex;
    border-radius: 50px;
    top: 52px;
    right: 34px;
    align-items: center;
    justify-content: center;
    color: white;
}
.logo{
    display: flex;
    justify-content: flex-end;
}
.submit{
    position: absolute;
    width: 170px;
    background: #e2e43369;
    top: 99px;
    left: 25%;
    border-top: 2px solid black;
    font-size: larger;
    font-family: cursive;
}